@media (max-width: 360px) {
    .hero {
        background-image: none;
        background: linear-gradient(180deg, #FFFFFF 48.96%, #E5E5E5 100%);
        padding-top: 0px;
        max-height: 70vh;
    }
    header {
        margin-top: 15px;
    }
    header a, 
    .header_button {
        display: none;
    }
    header img {
        margin-right: 0px;
    }
    .main_title {
        margin-top: 62px;
    }
    h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 100%;
        text-align: center;
    }
    h4 {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 27px;
        text-align: center;
        padding: 10px 16px 20px 16px;
    }
    .main_title_button {
        text-align: center;
    }
    h2 {
        margin-top: 112px;
        font-size: 24px;
        line-height: 36px;
    }
    .bottom_information h4 {
        font-size: 16px;
        line-height: 24px;
        margin-left: 0;
        width: 100%;
        padding: 0 31px 0 30px;
    }
    footer {
        display: block;
        margin-top: 72px;
        padding-bottom: 148px;
    }
    .block {
        width: 100%;
        margin-bottom: 52px;
    }
}
@media (min-width: 361px) {
    .hamburger_logo {
        display: none;
    }
}