* {
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 100%;
    max-width: 1124px;
    margin: 0 auto;
    padding: 0 12px;
}
.hero {
    background-image: url("img/Background.jpg");
    max-height: 75vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a {
    padding-right: 58px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #717784;
    text-decoration: none;
}
header img {
    margin-right: 286px;
}
.header_left {
    display: flex;
    align-items: center;
}
.contact_us,
.get_started {
    display: inline-block;
    font-size: 18px;
    padding: 16px 66px;
    line-height: 27px;
    font-weight: 600;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 10px;
    background: #9B9BCA;
    transition: all ease 0.3s;
}
.main_title {
    margin-top: 221px;
}
h1 {
    font-family: 'DM Serif Display', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 100%;
    color: #696A86;
}
h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #696A86;
}
h2 {
    margin-top: 207px;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
    color: #626780;
    text-align: center;
}
.bottom_information h4 {
    text-align: center;
}
footer {
    margin-top: 93px;
    display: flex;
    text-align: center;
}
h6 {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
    color: #626780;
    margin-top: 21px;
    margin-bottom: 12px;
}
p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #626780;
}
.block {
    width: 30%;
    margin-bottom: 80px;
}